body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

#selectedImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.caption {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
}

.prediction {
    margin-left: 20px;
    font-size: 1em;
}
