body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('snapid.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

#selectedImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#captionResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: left;
}

#captionResult p {
    margin: 5px 0;
}
